*{

margin:0;

padding:0;

box-sizing:border-box;

}
@font-face{

font-family:"Barmeno";

src:url("./assets/fonts/Barmeno-Regular.ttf");

}

@font-face{

font-family:"BarmenoBold";

src:url("./assets/fonts/Barmeno-Bold.ttf");

font-weight:bold;

}

html{

scroll-behavior:smooth;

}


body{

font-family:"Barmeno",sans-serif;

background:var(--background);

color:var(--text);

transition:.4s;

}

img{

max-width:100%;

display:block;

}

button{

font-family:inherit;

cursor:pointer;

}

a{

text-decoration:none;

color:inherit;

}

ul{

list-style:none;

}

.app{

background:#fffdf8;
color:#222;
transition:.4s;

}

.app.dark{

background:#111;
color:#fff;

}