:root{
  --primary:#F2140D;
  --primary-dark:#BC0101;
  --secondary:#FDB431;

  --bg:#FFF8F3;
  --surface:#FFFFFF;
  --text:#222222;
  --text-light:#666666;
  --border:#E5E5E5;
}

body.dark{
  --bg:#121212;
  --surface:#1E1E1E;
  --text:#FFFFFF;
  --text-light:#CCCCCC;
  --border:#333333;
}
.theme-btn{

width:38px;
height:38px;

border:none;
border-radius:50%;

background:#FDB431;

display:flex;
align-items:center;
justify-content:center;

font-size:16px;

cursor:pointer;

transition:.3s;

margin-right:12px;

}

.theme-btn:hover{

transform:scale(1.08);

background:#F2140D;
color:white;

}