:root{

--primary:#F2140D;
--primary-dark:#BC0101;

--yellow:#FFF100;
--orange:#FDB431;

--background:#FFF8F3;
--surface:#FFFFFF;

--text:#2C2C2C;
--text-light:#666666;

--radius:18px;

--shadow:0 15px 35px rgba(0,0,0,.08);

--transition:.35s;

}

:root{

  /* Logo Color Palette */

  --primary:#F2140D;
  --primary-dark:#BC0101;

  --secondary:#FDB431;

  --accent:#FFF100;

  --background:#FFF8F3;

  --card:#FFFFFF;

  --text:#2D2D2D;

  --gray:#7D7D7D;

  --border:#ECECEC;

  --shadow:0 15px 35px rgba(0,0,0,.08);

  --radius:20px;

  --transition:.35s ease;

}

/* Dark Theme */

.dark{

  --background:#111111;

  --card:#1E1E1E;

  --text:#FFFFFF;

  --gray:#BBBBBB;

  --border:#333333;

}